// Variables

// Colors
$primary: #002F6C;
$primaryDimmed: #335989;
$primaryDimmedBtn: #8097B5;
$primaryLight: #E8EEF5;
$secondary: #535353;
$dark: #2A2A2A;
$light: #ffffff;
$grayDimmed: #949494;
$successLightBg: #C3E5E3;
$successLight: #559994;
$borderLight: #D9D9D9;
$borderDark: #2A2A2A;
$borderSearch: #CDCDCD;
$borderForm: $grayDimmed;
$borderTable: #ECECEC;
$bodyPrimary:#EBEBEB;
$bodySecondary: #F5F5F5;


// Sizes
$iconWidth: 24px;
$paddingMd: 24px;
$navbarHeight: 84px;